[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"

[packages]
djangorestframework = "*"
pylint = "*"
django-rest-auth = "*"
django-allauth = "*"
django-cors-headers = "*"
geopy = "*"
numpy = "*"
numpy-stl = "*"

[requires]
python_version = "3.8"
